<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href=".css/style.css">
</head>

<body>
    <h1>Hello world</h1>

    <form action="/signup" method="POST">

        <label for="username"><b>UserName</b></label>
        <input type="text" placeholder="Enter User Name" name="user" required></br>

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required></br>

        <label for="email"><b>Email</b></label>
        <input type="text" placeholder="Enter Email" name="email" required></br>

        <label for="mobile"><b>Mobile</b></label>
        <input type="text" placeholder="Enter Mobile No." name="mb" required></br>


        <button type="submit" class="loginbtn">Sign up</button>

    </form>

</body>

</html>